NODE_ENV="development"

APP_NAME="Knitto Nest API"
APP_VERSION="0.1.0"

HOST="0.0.0.0"
PORT="3333"
GLOBAL_PREFIX="api"
CORS_ORIGINS="http://localhost:3000,http://localhost:5173"

SENTRY_DSN=""
SENTRY_ENVIRONMENT="development"
SENTRY_TRACES_SAMPLE_RATE="0.1"
SENTRY_ENABLED="true"

OPENAPI_APP_NAME="app name"
OPENAPI_APP_DESCRIPTION="project app description"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/db?schema=public"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="db"
POSTGRES_PORT="5432"
LOG_PRISMA="true"

BETTER_AUTH_URL="http://localhost:3333"
BETTER_AUTH_SECRET=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@yourdomain.com"